page-contactus {
    .content-box {
        padding: 10px;
    }

    .msg-box {
        margin-bottom: 20px;
    }

    .time {
        text-align: center;
        color: #999;
    }

    .content {
        text-align: right;
    }

    .reply {
        text-align: left;
    }
}
