page-contactus {
    .content-box {
        padding: 10px;
    }

    .msg-box {
        margin-bottom: 20px;
    }

    .time {
        text-align: center;
        color: #999;
    }

    .content {
        text-align: right;
    }

    .reply {
        text-align: left;
    }

    ion-footer {
        border-top: 0.55px solid #e6e6e6;
        .item-inner {
            border: 0!important;
        }
    }
}
