page-password-input {
    .content {
        background: rgb(244,244,244);
    }

    .form-container {
        text-align: center;
        margin-top: 50px;
        h2 {
            font-size: 18px;
            color: rgb(120,120,120);
        }
    }
}
