<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="editOrDone(!isEdit)">{{isEdit ? '编辑': '完成'}}</button>
    </ion-buttons>
    <ion-title>我的</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!isEdit && allowMove && !isDropdown" [disabled]="disabled" (click)="moveItems()">移动到</button>
      <button ion-button *ngIf="!isEdit && !isDropdown" [disabled]="disabled" (click)="removeItems();">批量删除</button>
      <button ion-button *ngIf="isEdit || isDropdown" (click)="globalService.gotoPlay()">{{globalService.getPlayButton()}}&nbsp;<ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <div class="menubar">
    <ion-scroll scrollX="true" scrollbar-x="false" class="top-menu">
      <ul class="menus">
        <li class="menu-item" *ngFor="let menu of menus; let i = index"
          tappable (tap)="selectMenu(i);" [class.menu-active]="selectedMenu === menu.label" >{{menu.label}}</li>
      </ul>
    </ion-scroll>
    <button ion-button icon-only clear small class="dropdown-btn" (click)="toggle(!isDropdown)">
      <ion-icon name="{{ !isDropdown ? 'ios-arrow-down-outline' : 'ios-arrow-up-outline' }}"></ion-icon>
    </button>
  </div>

</ion-header>

<ion-content >
  <div class="outer-content">
    <div class="main-content">
      <div id="{{menu.id}}" *ngFor="let menu of menus" 
        [hidden]="selectedMenu !== menu.label">
        <div class="empty-tip" *ngIf="menu.data.length === 0 && menu.empty.length > 0">
          {{menu.empty}}
        </div>
        <div class="empty-tip2" *ngIf="!menu.custom && menu.data.length === 0 && menu.empty.length === 0">
          <img src="assets/imgs/empty-img.png" >
          <p>请在电脑上打开浏览器输入一下地址<br>http://10.19.2.211/<br>
          支持txt及txt打包成zip或rar格式的压缩包上传<br>
          上传结束前不能离开此页面
          </p>
        </div>
        <div class="menu-data" *ngIf="menu.data.length > 0">
          <ion-list [reorder]="!isEdit" (ionItemReorder)="reorderItems2($event,menu)">
            <ion-item-sliding *ngFor="let item of menu.data">
            <button ion-item (click)="forwardTo(menu,item);">
              <!-- <ion-checkbox color="dark"></ion-checkbox> -->
              <ion-thumbnail item-left [class.edited]="!isEdit">
                <!-- <img [src]="item.src"> -->
                <!-- <ion-img src="{{item.src}}"></ion-img> -->
                <div class="item-cb" *ngIf="!isEdit"><ion-icon name="ios-checkmark-outline" *ngIf="item.selected"></ion-icon></div>
                <img src="{{getImageUrl(menu,item)}}">
              </ion-thumbnail>
              <h2 text-wrap>{{getTitle(menu,item)}}</h2>
              <p>{{getContent1(menu,item)}}</p>
              <p text-wrap>{{getContent2(menu,item)}}</p>
            </button>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="deleteItem(menu,item)">
                删除
              </button>
            </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
    </div>
    <div class="dropdown-content" [hidden]="!isDropdown">
      <ion-item-divider color="light">导航栏目</ion-item-divider>
      <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
        <ion-item *ngFor="let menu of menus">&emsp;{{menu.label}}</ion-item>
      </ion-item-group>
      <ion-item-divider color="light">更多栏目</ion-item-divider>
      <ion-item-group>
      </ion-item-group>
    </div>
  </div>
</ion-content>
