page-change-background {

    img {
        margin: 0;
        padding: 0;
        border: 0;
        display: block;
        // max-height: 70px;
        margin: 0 auto;
        // margin-top: 30px;
    }

}
