page-book-view {
    // .book-info  ion-content scroll-content {
    //     background: url("../assets/imgs/logo.png") no-repeat center center fixed; 
    //     -webkit-background-size: cover;
    //     -moz-background-size: cover;
    //     background-size: cover;
    //     margin-top: 0px ;
    //     padding-top: 0px;
    //     padding-bottom: 0px;
    //     clear: both;
    //     text-align: left;
    //     padding: 15px;

    //     font-size: 18px;
    // }
    ion-content {
        font-size: 18px;
    }

    .theme1 {
        background: rgb(237,230,198);
        color: black;
    }
    .theme2 {
        background: rgb(68,68,68);
        color: rgb(237,237,237);
    }
    .theme3 {
        background: rgb(212,234,208);
        color: rgb(24,46,44);
    }
    .theme4 {
        background: rgb(24,42,63);
        color: rgb(90,173,175);
    }
    .theme5 {
        background: rgb(57,50,34);
        color: rgb(202,191,175);
    }
    .theme6 {
        background: rgb(233,210,214);
        color: rgb(59,29,37);
    }

    .buttons {
        clear: both;
        // height: 150px;
        border-top: 1px solid rgb(227,227,227);
        // height: 150px;
    }
    ion-footer {
        background-color: white;
        // height: 150px;
        clear: both;
    }
  
    .btn-container {
        width: 20%;
        float: left;
        text-align: center;
        // height: 80px;
        .custom-btn {
            width: 100%;
            text-align: center;

            .icon-container {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 10px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                
                border: 0.8px solid rgb(74,74,74);
                margin: 0 auto;
                color: rgb(74,74,74);

                ion-icon {
                    font-size: 20px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    height: 40px;
                    line-height: 40px;
                }

                .rewind-icon {
                    padding-right: 3px;
                }

                .forward-icon {
                    padding-left: 3px;
                }

                .play-icon {
                    padding-left: 3px;
                }
            }
            .label {
                margin: 0;
                margin-top: 5px;
            }
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
