page-chapter-list {
    .download-box {
        // background-color: red;
        text-align: right;
        button {
            margin: 0;
            margin-right: -10px;
            ion-icon {
                color: rgb(18,18,18);
            }
            // padding: 0;
        }
        .download-state {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: rgb(18,18,18);
        }
    }
}
