<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>更多</ion-title>
    <ion-buttons end *ngIf="!flag">
      <button ion-button (click)="globalService.gotoPlay();">{{globalService.getPlayButton()}}&nbsp;<ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <ion-list></ion-list>
  <ion-list *ngIf="isAudioNovel">
    <!-- <button ion-item>
      开启定时停止
      <ion-note item-right>未设置</ion-note>
    </button> -->
    <ion-item>
      <ion-label>开启定时停止</ion-label>
      <ion-multi-picker item-content [(ngModel)]="settings.stopTime" (ionChange)="saveSettings();" 
        [multiPickerColumns]="timeOptions" 
        cancelText="取消" doneText="保存" placeholder="未设置"></ion-multi-picker>
    </ion-item>
    <!-- <button ion-item (click)="setStopChapter();">
      开启定集停止 
      <ion-note item-right>{{settings.stopChapter || '未设置'}}</ion-note>
    </button> -->
    <ion-item>
      <ion-label>开启定集停止</ion-label>
      <ion-select [(ngModel)]="settings.stopChapter" placeholder="未设置" cancelText="取消" okText="保存" (ionChange)="saveSettings();">
        <ion-option value="0">0集后停止播放</ion-option>
        <ion-option value="1">1集后停止播放</ion-option>
        <ion-option value="2">2集后停止播放</ion-option>
        <ion-option value="3">3集后停止播放</ion-option>
        <ion-option value="4">4集后停止播放</ion-option>
        <ion-option value="5">5集后停止播放</ion-option>
        <ion-option value="6">6集后停止播放</ion-option>
        <ion-option value="7">7集后停止播放</ion-option>
        <ion-option value="8">8集后停止播放</ion-option>
        <ion-option value="9">9集后停止播放</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>自动连续播放</ion-label>
      <ion-toggle [(ngModel)]="settings.playingLoop" color="secondary" (ionChange)="saveSettings();"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>允许线控操作<p class="hint">单击:播放/暂停; 连按两次:下一曲; 连按三次:上一曲</p></ion-label>
      <ion-toggle [(ngModel)]="settings.allowLineControl" color="secondary" (ionChange)="saveSettings();"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>拔出耳机时暂停播放</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="settings.pauseWhenOut" (ionChange)="saveSettings();"></ion-toggle>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <button ion-item>
      联系客服
    </button>
    <button ion-item (click)="gotoFaq()">
      常见问题解答
    </button>
    <button ion-item (click)="doShare();">
      分享此软件
    </button>
    <!-- <button ion-item>
      清除缓存
      <ion-note item-right>6.2M</ion-note>
    </button> -->
    <button ion-item (click)="setPassword();">
      设置密码
    </button>
    <button ion-item (click)="sendNotify();">
      更新提醒
      <ion-note item-right>{{notifyBadge}}</ion-note>
    </button>
    <button ion-item (click)="rateus();">
      给个好评吧
    </button>
    <button ion-item (click)="checkVersion();">
      检查版本更新
      <ion-note item-right>v {{appVersion}}</ion-note>
    </button>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>仅WIFI网络在线播放</ion-label>
      <ion-toggle [(ngModel)]="settings.wifiPlaying" color="secondary" (ionChange)="saveSettings();"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>仅WIFI网络下载</ion-label>
      <ion-toggle [(ngModel)]="settings.wifiDownloading" color="secondary" (ionChange)="saveSettings();"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>使用繁体字</ion-label>
      <ion-toggle [(ngModel)]="settings.useFanti" color="secondary" (ionChange)="saveSettings();"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="moreApps.length > 0">
    <button ion-item *ngFor="let app of moreApps" (click)="openApp(app);">
      <ion-avatar item-left>
        <img [src]="app.src">
      </ion-avatar>
      {{app.title}}
    </button>
  </ion-list>
</ion-content>
