page-search-result {
    .item-ios ion-thumbnail {
        min-width: 46px !important;
    }
    ion-thumbnail img {
       width: 100% !important;
       height: 100% !important;
       max-width: 46px !important;
       max-height: 60px !important;
    }

    ion-select {
        max-width: 100%;
    }

    .row {
        border-top: 0.8px solid rgb(200,199,204);
        border-bottom: 0.55px solid rgb(200,199,204);
    }
}
