page-book {
    .book-cover {
        max-width: 60px;
        img {
            max-width: 100%;
        }
    }
    .base-info-head {
        border-top: 0.88px solid rgb(221,221,221);
        padding-top: 1px;
        background-color: white;
        ion-segment {
            padding: 0 50px;
            // width: 70%;
            // position: absolute;
            // left: 50%;
        }

        .small-btn {
            font-size: 14px;
            color: rgb(18,18,18);
        }
    }
    .item-ios ion-thumbnail {
        min-width: 46px !important;
    }
    ion-thumbnail img {
       width: 100% !important;
       height: 100% !important;
       max-width: 46px !important;
       max-height: 60px !important;
    }

    .download-box {
        // background-color: red;
        text-align: right;
        button {
            margin: 0;
            margin-right: -10px;
            ion-icon {
                color: rgb(18,18,18);
            }
            // padding: 0;
        }
        .download-state {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: rgb(18,18,18);
        }
    }
}
